body{
    text-align: center;
    font-family: "Arial";
    font-size: 16px;
    font-weight: bold;
    position: relative;
    color: #111111;
    width:400px;
    height:600px;
}
.outherNote{
    font-size:16px;
    float: right;
}
#systemMessage{
    font-size: 16px;
    text-align: center;
    margin:0 auto;
}

/* AREA_ZONEs */
  /* AREA_ZONEs */
    /* AREA_ZONEs */
      /* AREA_ZONEs */


/* ELEMENT ZONE */
  /* ELEMENT ZONE */
    /* ELEMENT ZONE */
      /* ELEMENT ZONE */
