<% include ../../../views/templates/header.ejs %>
<%
//indent x2>> 
%>


<div id="container">
    <div>
        <img src="/img/face_smile_woman1.png"  class="opponentAppearance waiting active"></img>
        <img src="/img/face_smile_woman4.png" class="opponentAppearance lose"></img>
        <img src="/img/face_angry_woman2.png"  class="opponentAppearance aiko"></img>
        <img src="/img/face_angry_woman4.png"  class="opponentAppearance win"></img>
        <img src="/img/pose_furikaeru_woman.png"  class="opponentAppearance ready"></img>
    </div>
    <div id="loginMember"></div>
    <div>
        <img src="/img/janken_choki_opp.png"  class="oppoHand choki"></img>
        <img src="/img/janken_gu_opp.png"  class="oppoHand goo"></img>
        <img src="/img/janken_pa_opp.png"   class="oppoHand pa"></img>
    </div>
    <div>
        <img src="/img/janken_choki.png"  class="yourHand choki"></img>
        <img src="/img/janken_gu.png"  class="yourHand goo"></img>
        <img src="/img/janken_pa.png"  class="yourHand pa"></img>       
    </div>
    <img src="/img/janken_gu.png" class="handSelect" id="goo"></img>
    <img src="/img/janken_choki.png" class="handSelect" id="choki"></img>
    <img src="/img/janken_pa.png" class="handSelect" id="pa"></img>
    <div id="gameMessage"></div>
</div>
<script>
    $(function(){
        var hostname = window.location.hostname ;
        var socket = io.connect('https://'+hostname+'/janken');
        
        var handFlag = false;
        
        socket.emit("loadJanken","<%= you %>");
        socket.on("loginMember",function(data){
            $(".opp").remove();
            $("#loginMember").append(data);
        });
        socket.on("loginOpp",function(data){
            $("#loginMember").append(data);
        });
        $("#goo").on('click',function(){
            if(handFlag == false){
                handFlag = true;
                socket.emit("getReady","<%= you %>");
                $("#gameMessage").html("");
                $(".yourHand").removeClass("active");
                $(".oppoHand").removeClass("active");
                $(".opponentAppearance").removeClass("active");
                $("img[class='opponentAppearance waiting']").addClass("active");
                $("img[class='yourHand goo']").addClass("active");
                socket.emit("hand","goo");
            }
        });
         $("#choki").on('click',function(){
            if(handFlag == false){
                handFlag = true;
                $("#gameMessage").html("");
                $(".yourHand").removeClass("active");
                $(".oppoHand").removeClass("active");
                $(".opponentAppearance").removeClass("active");
                $("img[class='opponentAppearance waiting']").addClass("active");
                $("img[class='yourHand choki']").addClass("active");
                socket.emit("hand","choki");
            }
        });
         $("#pa").on('click',function(){
            if(handFlag == false){
                handFlag = true;
                $("#gameMessage").html("");
                $(".yourHand").removeClass("active");
                $(".oppoHand").removeClass("active");
                $(".opponentAppearance").removeClass("active");
                $("img[class='opponentAppearance waiting']").addClass("active");
                $("img[class='yourHand pa']").addClass("active");
                socket.emit("hand","pa");
            }
        });
        socket.on("enterNewUser",function(){
            socket.emit("responseUserName","<%= you %>");
        });
        socket.on("oppGetReady",function(data){
             $(".opponentAppearance").removeClass("active");
             $("img[class='opponentAppearance ready']").addClass("active");
        });
        socket.on("message",function(data){
            $("#gameMessage").append("<div>"+data+"</div>");
        });
        socket.on("PON!",function(data){
            handFlag = false;
            $(".opponentAppearance").removeClass("active");
            $("img[class='opponentAppearance "+data[0]+"']").addClass("active");
            console.log("img[class='opponentAppearance "+data[0]+"']");
            //$("#gameMessage").append("<div>"+data[0]+"</div>");
            $("img[class='oppoHand "+data[1]+"']").addClass("active");
            //console.log("img[class='oppoHand "+data[1]+"']");
        });

    });
</script>
<style type="text/css">
    #container{
        font-size : 30px;
        text-align: center;
    }
    #loginMember{
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .opponentAppearance{
        width: 120px;
    }
    .opponentAppearance:not(.active){
        display : none;
    }
    .oppoHand,.yourHand{
        width: 120px;
    }
    .oppoHand:not(.active),.yourHand:not(.active){
        display : none;
    }
    .handSelect{
        display: inline;
        margin: 20px;
        width: 80px;
    }

    #gameMessage{
        font-size : 30px;
    }

</style>
<% include ../../../views/templates/footer.ejs %>